node-red/.flows.json.backup
[{"id":"dce41483.25e028","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"dfdceb33.1234d8","type":"server","name":"Home Assistant","addon":true},{"id":"e7b7ab6d.00f678","type":"server-state-changed","z":"dce41483.25e028","name":"","server":"dfdceb33.1234d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00044ebe7f_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":300,"y":160,"wires":[["afb9c5e8.7ecd28"],[]]},{"id":"afb9c5e8.7ecd28","type":"api-call-service","z":"dce41483.25e028","name":"","server":"dfdceb33.1234d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_light_ceiling_switch","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":140,"wires":[[]]},{"id":"ad00e058.b29e1","type":"switch","z":"dce41483.25e028","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":160,"wires":[["afb9c5e8.7ecd28"],[]]}]